body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Couleur de fond différente */
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 100px auto;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: auto;
}

.input-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #005daa;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004175;
}

.footer {
    text-align: center;
}

.footer p {
    font-size: 14px;
    color: #666;
}

.footer a {
    color: #005daa;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}
